.lyricsContainer {
  display: flex;
  flex-direction: column;
}

.lyricsWrapper {
  width: min(80%, 700px);
  margin: auto;
  padding: 4%;
}

.lyricsWrapper:hover .lyricsArtist {
  transition-duration: 500ms;
  color: var(--secondary-color);
}

.lyricsInfo {
  text-align: center;
}

.lyricsTrackName {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}

.lyricsArtist {
  transition-duration: 500ms;
  font-size: clamp(0.8rem, 2.5vw, 1.25rem);
  font-style: italic;
}

.lyrics {
  font-size: clamp(0.8rem, 2.5vw, 1.25rem);
  line-height: 2;
  margin-top: 20px;
  white-space: pre-line;
  text-align: center;
  font-weight: lighter;
}

.copyRight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: clamp(0.75rem, 2.5vw, 1rem);
  font-weight: 400;
}

.copyRightLogoWrapper {
  height: 24px;
}

.lyricsArtist.skeleton {
  height: 30px;
  width: 40%;
  margin: auto;
}

.lyricsLine.skeleton {
  height: 30px;
  margin: 8px 0;
}
